body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #ffa71a;
}

.menu {
    list-style-type: none;
}

img {
    height: auto;
    width: 600px;
}



