body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}

a {
    text-decoration: none;
    color: #ffa71a;
}

.menu {
    list-style-type: none;
}

img {
    height: auto;
    width: 600px;
}

ul,
ol,
p {
    background-color: white;
    padding: 32px;
    margin: 16px;
}



